@tailwind base;
@tailwind components;
@tailwind utilities;

.sign {
    height: 400px;
    width: 500px;
    top: 10px;
        left: 150px;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    background-color:lightcoral
}
.head{
    background-color:rgba(165, 42, 42, 0.651)
}
.signup{
    background-color: lightcoral;
    width: 600px;
    height: 670px;
        top: 10px;
        left: 150px;    
    position: absolute;

}
.reg{
    margin-left: 100px;
}



.pic {
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.nav {
    margin-left: 600px;
    padding: 5px;
    justify-content: space-around;


}
.home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/vote_home_page.jpg');

}
    